---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2 class="lightText"><span>Destacados</span></h2>
    </div>
    <div class="row">
        {% include featuredbox.html %}

        {% comment}
        {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}
        {% endcomment}

    {% endfor %}
    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    
    <div class="section-title">
        
        <h2  class="lightText"><span>Publicaciones</span></h2>
        
    </div>
    
    <div class="row listrecent">
        {% include postbox.html %} 

        {% comment}
        {% for post in paginator.posts %}

            {% include postbox.html %}          

        {% endfor %}
        {% endcomment}
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
