#jumbo{
	min-height: 500px;
	background-image: url(../images/jumbotron.png) !important;
	background-size: 100% 100% !important;
}

.navbar {
	background-color: #37474F !important;
}

body, footer{
	background-color: #263238 !important;
}

a{
	color: #F5F5F5 !important;
}

a:active{
	color: #000000 !important;
}

a:hover{
	color: #8BC34A !important;
}

.lightText{
	color: #F5F5F5;
}

.section-title h2 {
    border-bottom: 1px solid #F5F5F5 !important;
}